migrate_working_dir/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/

flutter_*.png

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/captures/
android/gradle/
android/.idea/
android/local.properties
android/.settings/
android/.externalNativeBuild/
android/app/build/

# VS Code
.vscode/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Generated.xcconfig
macos/Pods/
macos/Runner.xcworkspace/
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcodeproj/xcuserdata/
macos/Runner.xcworkspace/xcuserdata/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugins.cmake

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugins.cmake

# Web
web/.dart_tool/

# Others
.idea/
*.iml
*.ipr
*.iws
*.swp
*.swo
*.DS_Store
*.log
*.tmp
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project
.vscode/

# Coverage
coverage/

# Packages
pubspec.lock
